.headerContainer {
  width: 90% !important;
  margin: 0 auto !important;
  background-color: rgba(54, 55, 51, 255) !important;
  padding: 5px 0 !important;
  border-radius: 1em !important;
  margin-bottom: 3em !important;
  height: 700px !important;
  position: relative !important;
  margin-top: 2em !important;
}

.header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  position: relative !important;
  z-index: 2 !important;
}

.headerContainer::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-size: cover !important;
  background-position: center !important;
  opacity: 0.9 !important;
  z-index: 1 !important;
  border-radius: 1em !important;
}

.heroContainer {
  position: relative !important;
  z-index: 2 !important;
}

.heroTextRight {
  font-size: 25px !important;
  max-width: 1200px !important;
  margin-top: 1em !important;
  right: 2em !important;
  color: rgb(182, 171, 157) !important;
  position: absolute !important;
}

.heroTextLeftTop {
  color: #ffffff !important;
  position: absolute !important;
  max-width: 400px !important;
  left: 2em !important;
  margin-top: 2em !important;
}

.heroTextLeftBottom {
  color: rgb(182, 171, 157) !important;
  position: absolute !important;
  margin-top: 28em !important;
  max-width: 200px !important;
  left: 2em !important;
}

.carouselContainer {
  border-bottom: 2px solid #ffffff !important;
  border-top: 2px solid #ffffff !important;
  bottom: 2em !important;
  right: 2em !important;
  width: 100% !important;
  max-width: 500px !important;
  height: 300px !important;
  position: absolute !important;
}
