.headerContainer {
  width: 90%;
  margin: 0 auto;
  background-color: #14487c;
  border-bottom: 1px solid #e7e7e7;
  padding: 5px 0;
  border-radius: 1em;
  margin-bottom: 3em;
  height: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  font-size: 24px;
  font-weight: bold;
  padding: 1em;
}

.navCenter {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.navLink {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Aplica el blur */
  transition: background-color 0.3s ease;
}

.navLink:hover {
  background: rgba(255, 255, 255, 0.4); /* Cambia el fondo al pasar el ratón */
}

.navLink::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: -1;
}
