.headerContainer {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(28, 26, 31, 255);
  padding: 5px 0;
  border-radius: 1em;
  margin-bottom: 3em;
  height: 550px;
  position: relative;
  margin-top: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.headerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://github.com/diiaz2910/assets-repo/blob/master/A9rcyal3_gd1447_a4.jpg?raw=true");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  z-index: 1;
  border-radius: 1em;
}

.logoText {
  font-size: 24px;
  margin-left: 2em;
  margin-right: 2em;
  color: #000;
  margin-top: 2em;
}

.navCenter {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.navLink {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
}

.navLink:hover {
  background: rgba(255, 255, 255, 0.4);
}

.heroContainer {
  position: relative;
  z-index: 2;
}

.heroText {
  font-size: 60px !important;
  max-width: 800px;
  margin-top: 10px;
  left: 1em;
  color: #ffffff;
  position: relative;
}

.navBottomLinks {
  position: absolute;
  bottom: 1em;
  left: 2em;
  width: 5%;
  padding: 10px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-top-right-radius: 10px;
}

.navBottomLinks a {
  display: block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  margin-bottom: 5px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

.navBottomLinks a:hover {
  background: rgba(255, 255, 255, 0.4);
}

.navBottomRight {
  position: absolute;
  bottom: 1em;
  right: 2em;
  width: 35%; /* 35% del ancho del contenedor principal */
  height: 200px; /* Ajusta la altura según sea necesario */
  overflow: hidden;
  padding: 10px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
}

.slider {
  display: flex;
  width: 300%; /* Tres veces el ancho para permitir el deslizamiento */
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 33.33%; /* Cada slide ocupa 1/3 del espacio del slider */
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  margin-right: 10px; /* Espaciado entre slides */
}

.slide img {
  width: 35%; /* Imagen ocupa 35% del slide */
  border-radius: 10px;
  margin-right: 10px;
}

.slideText {
  flex: 1;
}

.slideText h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #000;
}

.slideText p {
  font-size: 14px;
  color: #555;
}
